<nav class="navBarContainer">
    <div class="navIconContainer">
        Prabesh's Blog
    </div>
    <div class="navListContainer">
        <div class="homeNavDiv">
            <a href="/">Home</a>
        </div>
        <div class="addNavDiv">
            <a href="/add-blog">Add-Blog</a></div>
    </div>
</nav>