<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/404.css"/>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico"/>
    <title><%=pageTitle%></title>
</head>
<body>
    <div class="errorContainer">
        <img src="/images/404.svg" alt="404 Not Found" class="imageContainer"/>
        <div class="redirectBox">
            <div class="descBox">
                Oops! the page you are searching for does not exist.
            </div>
            <a href="/" class="buttonBox">
                Go to HomePage
            </a>
        </div>
    </div>
</body>
</html>