<%-include('./includes/head.ejs');-%>
<title><%=pageTitle%></title>
<link rel="stylesheet" href="/css/homepage.css"/>
<%-include('./includes/head2.ejs');-%>
<body>
    <div class="homeContainer">
        <nav class="">

        </nav>
    </div>
</body>